[submodule "resources"]
	path = resources
	url = https://github.com/freshollie/toontown-infinite-resources.git
[submodule "src"]
	path = src
	url = https://github.com/pandemoniuhh/toontown-infinite.git
    branch = enhancements/panda3d-1.10.15-port
[submodule "panda3d"]
	path = panda3d
	url = https://github.com/pandemoniuhh/panda3d.git
[submodule "Astron"]
	path = Astron
	url = https://github.com/freshollie/Astron.git
